{% extends 'base.html.twig' %}

{% block body %}

    <h1>Crear Usuario</h1>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            {{ form_start(form) }}
                {{ form_row(form.nombre) }}

                {{ form_row(form.apellido) }}

                {{ form_row(form.documento) }}

                {{ form_row(form.correo) }}
                <div class="mt-4">
                    {{ form_row(form.rolId) }}
                </div>

                <input type="submit" class="btn btn-primary" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
    <br>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
